Repository litmuschaos/litmus-helm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de, @chandankumar4, @uditgaurav

Added some changes
  charts/litmus/templates/auth-server-deployment.yaml
  charts/litmus/templates/controlplane-configs.yaml
  charts/litmus/templates/frontend-deployment.yaml
  charts/litmus/templates/server-deployment.yaml
  charts/litmus/values.yaml
Owners: @imrajdas, @ispeakc0de, @jasstkn

Added changes requires for mongo support
  charts/litmus/templates/_helpers.tpl
  charts/litmus/templates/auth-server-deployment.yaml
  charts/litmus/templates/controlplane-configs.yaml
  charts/litmus/templates/server-deployment.yaml
  charts/litmus/values.yaml
Owners: @imrajdas, @ispeakc0de, @jasstkn

Added some changes
  charts/litmus/templates/auth-server-deployment.yaml
  charts/litmus/templates/server-deployment.yaml
Owners: @imrajdas, @ispeakc0de, @jasstkn

updated mongo image tags
  charts/litmus/templates/auth-server-deployment.yaml
  charts/litmus/templates/server-deployment.yaml
  charts/litmus/values.yaml
Owners: @imrajdas, @ispeakc0de, @jasstkn

updated image tags for 3.0.0
  charts/litmus/values.yaml
Owners: @imrajdas, @ispeakc0de, @jasstkn

updated the mongo images
  charts/litmus/templates/auth-server-deployment.yaml
  charts/litmus/templates/server-deployment.yaml
Owners: @imrajdas, @ispeakc0de, @jasstkn

Add labels in openshift route resource - Add common and custom labels to the route resource - Upgrade chart version to 2.15.12 - Regenerate doc with helm-docs
  charts/litmus/Chart.yaml
  charts/litmus/README.md
  charts/litmus/templates/frontend-route.yaml
  charts/litmus/values.yaml
Owners: @imrajdas, @ispeakc0de, @jasstkn

updated images
  charts/litmus/values.yaml
Owners: @imrajdas, @ispeakc0de, @jasstkn

Added final changes
  charts/litmus/Chart.yaml
  charts/litmus/README.md
  charts/litmus/values.yaml
Owners: @imrajdas, @ispeakc0de, @jasstkn

Updated readme
  README.md
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de

Added changes required in helm charts for Litmus 3.0.0 (#335)
  README.md
  charts/litmus/Chart.yaml
  charts/litmus/README.md
  charts/litmus/templates/_helpers.tpl
  charts/litmus/templates/auth-server-deployment.yaml
  charts/litmus/templates/controlplane-configs.yaml
  charts/litmus/templates/frontend-deployment.yaml
  charts/litmus/templates/server-deployment.yaml
  charts/litmus/values-ci.yaml
  charts/litmus/values.yaml
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de

Update index.yaml
  index.yaml
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de

Removed Upgrade job for 3.0.0
  charts/litmus/Chart.yaml
  charts/litmus/README.md
  charts/litmus/templates/post-upgrade-hook.yaml
Owners: @imrajdas, @ispeakc0de, @jasstkn

Update charts/litmus/README.md
  charts/litmus/README.md
Owners: @imrajdas, @ispeakc0de, @jasstkn

Add labels in openshift route resource (#337)
  charts/litmus/Chart.yaml
  charts/litmus/README.md
  charts/litmus/templates/frontend-route.yaml
  charts/litmus/values.yaml
Owners: @imrajdas, @ispeakc0de, @jasstkn

chore: update readme
  README.md
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de

chore: delete specific image info
  README.md
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de

chore
  README.md
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de

chore
  README.md
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de

chore
  README.md
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de

chore
  README.md
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de

chore: update readme (#344)
  README.md
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de

Added a flag for invoking the post-upgrade-hook
  charts/litmus/README.md
  charts/litmus/templates/post-upgrade-hook.yaml
  charts/litmus/values.yaml
Owners: @imrajdas, @ispeakc0de, @jasstkn

Bumped Chart version
  charts/litmus/Chart.yaml
Owners: @imrajdas, @ispeakc0de, @jasstkn

Updated documentation with helm-doc
  charts/litmus/README.md
Owners: @imrajdas, @ispeakc0de, @jasstkn

Update index.yaml
  index.yaml
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de

Set default to true for upgradeAgent
  charts/litmus/values.yaml
Owners: @imrajdas, @ispeakc0de, @jasstkn

Updated readme
  charts/litmus/README.md
Owners: @imrajdas, @ispeakc0de, @jasstkn

Post upgrade hook fix (#347)
  charts/litmus/Chart.yaml
  charts/litmus/README.md
  charts/litmus/templates/post-upgrade-hook.yaml
  charts/litmus/values.yaml
Owners: @imrajdas, @ispeakc0de, @jasstkn

Update index.yaml
  index.yaml
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de

update chart version and values for 3.1.0 Signed-off-by: Raju Dawadi <rajudawadinp@gmail.com>
  charts/litmus/Chart.yaml
  charts/litmus/values.yaml
Owners: @imrajdas, @ispeakc0de, @jasstkn

Integrate the operator image with scarf gateway
  .github/workflows/main.yml
  charts/kube-aws/README.md
  charts/kube-aws/values.yaml
  charts/kube-azure/README.md
  charts/kube-azure/values.yaml
  charts/kube-gcp/README.md
  charts/kube-gcp/values.yaml
  charts/kubernetes-chaos/README.md
  charts/kubernetes-chaos/values.yaml
  charts/litmus-agent/charts/chaos-exporter/values.yaml
  charts/litmus-agent/charts/chaos-operator/values.yaml
  charts/litmus-agent/charts/event-tracker/values.yaml
  charts/litmus-agent/charts/subscriber/values.yaml
  charts/litmus-agent/charts/workflow-controller/values.yaml
  charts/litmus-agent/values.yaml
  charts/litmus-core/values.yaml
  charts/litmus/values.yaml
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de, @uditgaurav, @chandankumar4

generate the helm docs
  charts/kube-aws/Chart.yaml
  charts/kube-aws/README.md
  charts/kube-azure/Chart.yaml
  charts/kube-azure/README.md
  charts/kube-gcp/Chart.yaml
  charts/kube-gcp/README.md
  charts/kubernetes-chaos/Chart.yaml
  charts/kubernetes-chaos/README.md
  charts/litmus-agent/Chart.yaml
  charts/litmus-agent/README.md
  charts/litmus-agent/charts/chaos-exporter/README.md
  charts/litmus-agent/charts/chaos-operator/README.md
  charts/litmus-agent/charts/event-tracker/README.md
  charts/litmus-agent/charts/subscriber/README.md
  charts/litmus-agent/charts/workflow-controller/README.md
  charts/litmus-core/Chart.yaml
  charts/litmus-core/README.md
  charts/litmus/Chart.yaml
  charts/litmus/README.md
Owners: @jasstkn, @ksatchit, @uditgaurav, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de, @chandankumar4

fix the helm lint issue
  charts/litmus-core/values.yaml
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de

update readme to 3.1.0 version Signed-off-by: Raju Dawadi <rajudawadinp@gmail.com>
  charts/litmus/README.md
Owners: @imrajdas, @ispeakc0de, @jasstkn

helm-docs Signed-off-by: Raju Dawadi <rajudawadinp@gmail.com>
  charts/litmus/README.md
Owners: @imrajdas, @ispeakc0de, @jasstkn

use helm-docs 1.11.3 Signed-off-by: Raju Dawadi <rajudawadinp@gmail.com>
  .github/workflows/test.yml
  charts/kube-aws/README.md
  charts/kube-azure/README.md
  charts/kube-gcp/README.md
  charts/kubernetes-chaos/README.md
  charts/litmus-agent/README.md
  charts/litmus-agent/charts/chaos-exporter/README.md
  charts/litmus-agent/charts/chaos-operator/README.md
  charts/litmus-agent/charts/event-tracker/README.md
  charts/litmus-agent/charts/subscriber/README.md
  charts/litmus-agent/charts/workflow-controller/README.md
  charts/litmus-core/README.md
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de, @uditgaurav, @chandankumar4

separate out helm-docs upgrade Signed-off-by: Raju Dawadi <rajudawadinp@gmail.com>
  .github/workflows/test.yml
  charts/kube-aws/README.md
  charts/kube-azure/README.md
  charts/kube-gcp/README.md
  charts/kubernetes-chaos/README.md
  charts/litmus-agent/README.md
  charts/litmus-agent/charts/chaos-exporter/README.md
  charts/litmus-agent/charts/chaos-operator/README.md
  charts/litmus-agent/charts/event-tracker/README.md
  charts/litmus-agent/charts/subscriber/README.md
  charts/litmus-agent/charts/workflow-controller/README.md
  charts/litmus-core/README.md
  charts/litmus/README.md
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de, @uditgaurav, @chandankumar4

skipping the litmus-agent testing as we need more checks and validations, we can add it later with better testing
  ct.yaml
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de

Integrate the litmus images with scarf gateway (#354)
  .github/workflows/main.yml
  charts/kube-aws/Chart.yaml
  charts/kube-aws/README.md
  charts/kube-aws/values.yaml
  charts/kube-azure/Chart.yaml
  charts/kube-azure/README.md
  charts/kube-azure/values.yaml
  charts/kube-gcp/Chart.yaml
  charts/kube-gcp/README.md
  charts/kube-gcp/values.yaml
  charts/kubernetes-chaos/Chart.yaml
  charts/kubernetes-chaos/README.md
  charts/kubernetes-chaos/values.yaml
  charts/litmus-agent/Chart.yaml
  charts/litmus-agent/README.md
  charts/litmus-agent/charts/chaos-exporter/README.md
  charts/litmus-agent/charts/chaos-exporter/values.yaml
  charts/litmus-agent/charts/chaos-operator/README.md
  charts/litmus-agent/charts/chaos-operator/values.yaml
  charts/litmus-agent/charts/event-tracker/README.md
  charts/litmus-agent/charts/event-tracker/values.yaml
  charts/litmus-agent/charts/subscriber/README.md
  charts/litmus-agent/charts/subscriber/values.yaml
  charts/litmus-agent/charts/workflow-controller/README.md
  charts/litmus-agent/charts/workflow-controller/values.yaml
  charts/litmus-agent/values.yaml
  charts/litmus-core/Chart.yaml
  charts/litmus-core/README.md
  charts/litmus-core/values.yaml
  charts/litmus/Chart.yaml
  charts/litmus/README.md
  charts/litmus/values.yaml
  ct.yaml
Owners: @ksatchit, @jasstkn, @ajeshbaby, @gdsoumya, @imrajdas, @ispeakc0de, @uditgaurav, @chandankumar4

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Global rule:
*                        @ksatchit @jasstkn @ajeshbaby @gdsoumya @imrajdas @ispeakc0de

charts/litmus            @imrajdas @ispeakc0de @jasstkn

charts/litmus-1-x        @ksatchit @chandankumar4

charts/kubernetes-chaos  @jasstkn @chandankumar4 @ksatchit

charts/kube-aws  @jasstkn @ksatchit @uditgaurav
